body{
  font-family: arial
}
#navbar{
  margin-left: -.5em;
  background: white;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
}

#navbar>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}



.nav-link {
  text-decoration: none;
  color: black;
  list-style-type: none;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  font-weight: thin;
  font-size: 1em;
  text-align: center;
}
.nav-link> li {
  padding: .5em;
  height: 100%;
}

.nav-link:hover{
  background: #ecb84a;


}

#welcome-section{
  height: 100vh;

}

#welcome-header {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content : space-around;
  align-items: center;
}

#welcome-header > img {
  width: 30%;
}

#title > h1 {
  font-family: 'arial black';
  font-size: 4em;
  letter-spacing: 1px;
  color: #53aa5f;
  text-align: center;
  font-weight: 900;
}

#title > p {
  text-align: center;
}

#glossary > span > dt {
  padding: .10em;
  color: rgb(28, 46, 46);
  font-size: 1.25em;
  font-weight: bold;
  padding: em;
  background: #53aa5f;
}

#glossary > span > dd {
 letter-spacing: 1px;
}

#glossary {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  border-style: dotted;
  border-color: #53aa5f;
  border: 2px;
}
#glossary > span{
  padding: 1em;
  max-width: 30%;
}

#glos{
}

h2 {
  padding: 1em;
  text-align: center;
}

h1{
  text-align: center;
  letter-spacing: 1px;
}

.tradingview-widget-container{
  margin-top: 5em;
}
#budget, #tips{
  margin-top: 5em;
}
