body{
  font-family: arial
}
#navbar{
  margin-left: -.5em;
  background: white;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
}

#navbar>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}



.nav-link {
  text-decoration: none;
  color: black;
  list-style-type: none;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  font-weight: thin;
  font-size: 1em;
  text-align: center;
}
.nav-link> li {
  padding: .5em;
  height: 100%;
}

.nav-link:hover{
  background: #ecb84a;


}

#welcome-section{
  height: 100vh;

}

#welcome-header {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content : space-around;
  align-items: center;
}

#welcome-header > img {
  width: 30%;
}

#title > h1 {
  font-family: 'arial black';
  font-size: 4em;
  letter-spacing: 1px;
  color: #53aa5f;
  text-align: center;
  font-weight: 900;
}

#title > p {
  text-align: center;
}

#glossary > span > dt {
  padding: .10em;
  color: rgb(28, 46, 46);
  font-size: 1.25em;
  font-weight: bold;
  padding: em;
  background: #53aa5f;
}

#glossary > span > dd {
 letter-spacing: 1px;
}

#glossary {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  border-style: dotted;
  border-color: #53aa5f;
  border: 2px;
}
#glossary > span{
  padding: 1em;
  max-width: 30%;
}

#glos{
}

h2 {
  padding: 1em;
  text-align: center;
}

#stocks  h1{
  text-align: center;
  letter-spacing: 1px;
}

.tradingview-widget-container{
  margin-top: 5em;
}
#budget, #tips{
  margin-top: 5em;
}
/*table css*/

#table-section> table, tr {
  margin: 1.5em;
  border: 1px solid black;
}

caption {
  font-size: 1.5em;
}
th {
  background-color: #f98f46;
}
tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover{
  background-color: #6bc1ed;
}

/*end table css*/
@-webkit-keyframes colors {
  0% { background-color: red;
  } 20% { background-color: orange;
  } 40% { background-color: yellow;
  } 60% { background-color: green;
  } 80% { background-color: blue;
  } 100% { background-color: purple;
  }
}
#budget-title {
  width: 200px;
  padding: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  border-radius: 6px;
  animation-name: colors;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tips-list {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  font-weight: thin;
  font-size: 1em;

}
#tips-list > li {
 padding: 1em;
}

marquee {
  width: 100%;
  text-align:center;
}

